target
.classpath
.project
.externalToolBuilders
.settings
META-INF
output.txt
restful-timeseries-webapp/src/main/tmp/
sensorwebclient-webapp/nb-configuration.xml
restful-timeseries-webapp/nbactions.xml
sensorwebclient-webapp/nbactions.xml
