
.n52_sensorweb_client_stationselectormap {
    width: 950px;
    height: 560px
}

.n52_sensorweb_client_loadingSpinner {
    padding-top: 20px;
    visibility: hidden;
}

.n52_sensorweb_client_marker {
    cursor: pointer;
}