<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
   "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
   "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.url">${ses.database.connection}</property>
		<property name="connection.username">${ses.database.user}</property>
		<property name="connection.password">${ses.database.password}</property>
		<property name="hibernate.hbm2ddl.auto">${ses.database.hibernate.hbm2ddl.auto}</property>
        <property name="hibernate.format_sql">false</property>
        <property name="hibernate.show_sql">false</property>

		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="cache.provider_class">net.sf.ehcache.hibernate.SingletonEhCacheProvider</property>
		<property name="current_session_context_class">thread</property>
		<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
		<property name="hibernate.bytecode.provider">cglib</property>
		<property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
		<!-- <property name="hibernate.cache.use_second_level_cache">true</property> -->
		
        <!-- ses-client database mapping files -->
		<mapping resource="org/n52/ses/server/hbm/client/User.hbm.xml" />
		<mapping resource="org/n52/ses/server/hbm/client/Subscription.hbm.xml" />
		<mapping resource="org/n52/ses/server/hbm/client/Sensor.hbm.xml" />
		<mapping resource="org/n52/ses/server/hbm/client/ComplexRule.hbm.xml" />
		<mapping resource="org/n52/ses/server/hbm/client/BasicRule.hbm.xml" />
		<mapping resource="org/n52/ses/server/hbm/client/ListOfUses.hbm.xml" />

        <!-- feeder database mapping files -->
		<mapping resource="org/n52/ses/server/hbm/feeder/SOS.hbm.xml" />
		<mapping resource="org/n52/ses/server/hbm/feeder/SensorToFeed.hbm.xml" />
		<mapping resource="org/n52/ses/server/hbm/feeder/Offering.hbm.xml" />
		<mapping resource="org/n52/ses/server/hbm/feeder/ObservedProperty.hbm.xml" />
	</session-factory>
</hibernate-configuration>