<!--

    Copyright (C) ${inceptionYear}-${latestYearOfContribution} 52°North Initiative for Geospatial Open Source
    Software GmbH

    This program is free software; you can redistribute it and/or modify it under
    the terms of the GNU General Public License version 2 as publishedby the Free
    Software Foundation.

    If the program is linked with libraries which are licensed under one of the
    following licenses, the combination of the program with the linked library is
    not considered a "derivative work" of the program:

        - Apache License, version 2.0
        - Apache Software License, version 1.0
        - GNU Lesser General Public License, version 3
        - Mozilla Public License, versions 1.0, 1.1 and 2.0
        - Common Development and Distribution License (CDDL), version 1.0

    Therefore the distribution of the program linked with libraries licensed under
    the aforementioned licenses, is permitted by the copyright holders if the
    distribution is compliant with both the GNU General Public License version 2
    and the aforementioned licenses.

    This program is distributed in the hope that it will be useful, but WITHOUT ANY
    WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
    PARTICULAR PURPOSE. See the GNU General Public License for more details.

-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <bean id="configurationContext" class="org.n52.server.mgmt.ConfigurationContext"
          init-method="init"
          destroy-method="shutdown">

    </bean>

    <bean id="taskScheduler" class="org.n52.server.mgmt.schedule.JobScheduler" init-method="init" destroy-method="shutdown">
        <property name="startupDelayInSeconds" value="5" />
        <property name="scheduledJobs">
            <list>
                <ref bean="regularCacheUpdate"/>
            </list>
        </property>
    </bean>

    <bean id="regularCacheUpdate" class="org.n52.server.mgmt.schedule.CacheUpdateJob">
        <property name="jobName" value="CacheUpdate" />
        <property name="jobDescription" value="Job which updates cached metadata of configured services." />
        <property name="triggerName" value="dailyAt_03:00am" />

        <!-- http://quartz-scheduler.org/documentation/quartz-2.1.x/tutorials/tutorial-lesson-06 -->
        <property name="cronExpression" value="0 0 03 * * ?" />

        <property name="triggerAtStartup" value="true" />
        <property name="rewriteAtStartup" value="false" />
    </bean>


</beans>